.container{
    position: relative;
    width: 15rem;
    height: 20rem;
    background-color: aquamarine;
    text-align: center;
    margin: 0 auto;
}
.centerface{
margin-top: .5rem;
    width: 100%;
height: 100%;
.photo{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;

}
}

.boudingbox{
    position: absolute;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 0 3px #149df2 inset;
    z-index: 3;

}